<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:theme="@style/OverlayTheme">
        <activity android:name="com.rootfan.shieldtools.FanModeActivity" android:exported="false" />
        <activity android:name="com.rootfan.shieldtools.TrackpadActivity" android:exported="false" />
        <activity android:name="com.rootfan.shieldtools.MouseButtonActivity" android:exported="false" />
        <receiver android:name="com.rootfan.shieldtools.OverlayBootReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
